<?xml version="1.0"?>

<launch>    

<!-- 	<node pkg="image_view" type="stereo_view" name="stereo_view">

		<param name="approximate_sync" value="true"/>
		<param name="queue_size" value="5"/>
	</node> -->

	<!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/> -->
</launch>
